@screenColor: #000000;
@screenBackgroundColor: #eeeeee;
@calculatorBackgroundColor: #ffffff;

@numButtonColor: #000000;
@numButtonHoverColor: #000000;
@numButtonActiveColor: #000000;
@numButtonBackgroundColor: #ffffff;
@numButtonHoverBackgroundColor: #ffffff;
@numButtonActiveBackgroundColor: #ffffff;

@opButtonColor: #ffffff;
@opButtonHoverColor: #ffffff;
@opButtonActiveColor: #ffffff;
@opButtonBackgroundColor: #999999;
@opButtonHoverBackgroundColor: #999999;
@opButtonActiveBackgroundColor: #999999;

@clearButtonColor: #ffffff;
@clearButtonHoverColor: #ffffff;
@clearButtonActiveColor: #ffffff;
@clearButtonBackgroundColor: #000000;
@clearButtonHoverBackgroundColor: #000000;
@clearButtonActiveBackgroundColor: #000000;

@equalButtonColor: #000000;
@equalButtonHoverColor: #000000;
@equalButtonActiveColor: #000000;
@equalButtonBackgroundColor: #cccccc;
@equalButtonHoverBackgroundColor: #cccccc;
@equalButtonActiveBackgroundColor: #cccccc;

@mOpButtonColor: #ffffff;
@mOpButtonHoverColor: #ffffff;
@mOpButtonActiveColor: #ffffff;
@mOpButtonBackgroundColor: #666666;
@mOpButtonHoverBackgroundColor: #666666;
@mOpButtonActiveBackgroundColor: #666666;

#calculator {
    width: 170px;
    border: 1px solid #000;
    border-bottom: none;
    .boxShadow(2px, 2px, 0);
    .borderRadius(5px, 0, 5px, 0);
    background-color: @calculatorBackgroundColor;

    hr {
        border: 0;
        border-top: 1px solid #000;
        margin: 0px;
    }
}

#screen {
    color: @screenColor;
    text-align: right;
    margin: 3px;
    padding: 2px;
    background-color: @screenBackgroundColor;
    .borderRadius(5px, 0, 0, 0);

    span {
        margin-right: 2px;
        margin-left: 2px;
    }
}

.button {
    text-align:center;
    border: 1px solid #000;
    width: 30px;
    .boxShadow(2px, 2px, 1px, rgba(0, 0, 0, 0.5);
    .borderRadiusAll(3px);
    cursor: pointer;
}

#rightButtonBox {
    float: right;
    margin-bottom: -5px;

    .button {
        margin: 5px;
        margin-bottom: 10px;
    }
}

#leftButtonBox {
    .numBox {
        margin-left: 1px;
        border-bottom: 1px solid #000;
    }
}

.buttonBox {
    clear: left;
    margin-right: 1px;

    .button {
        float: left;
    }
    .mOp {
        width: 26px;
        margin: 2px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .num,
    .op {
        margin: 5px;
    }
}

.num {
    .setButtonColor(@numButtonColor, @numButtonBackgroundColor);

    &:hover {
        .setButtonColor(@numButtonHoverColor, @numButtonHoverBackgroundColor);
    }
    &:active {
        .buttonActive;
        .setButtonColor(@numButtonActiveColor, @numButtonActiveBackgroundColor);
    }
}

.op {
    .setButtonColor(@opButtonColor, @opButtonBackgroundColor);

    &:hover {
        .setButtonColor(@opButtonHoverColor, @opButtonHoverBackgroundColor);
    }
    &:active {
        .buttonActive;
        .setButtonColor(@opButtonActiveColor, @opButtonActiveBackgroundColor);
    }
}

#buttonClear {
    .setButtonColor(@clearButtonColor, @clearButtonBackgroundColor);

    &:hover {
        .setButtonColor(@clearButtonHoverColor, @clearButtonHoverBackgroundColor);
    }
    &:active {
        .buttonActive;
        .setButtonColor(@clearButtonActiveColor, @clearButtonActiveBackgroundColor);
    }
}

#buttonEqual {
    .setButtonColor(@equalButtonColor, @equalButtonBackgroundColor);

    &:hover {
        .setButtonColor(@equalButtonHoverColor, @equalButtonHoverBackgroundColor);
    }
    &:active {
        .buttonActive;
        .setButtonColor(@equalButtonActiveColor, @equalButtonActiveBackgroundColor);
    }
}

.mOp {
    .setButtonColor(@mOpButtonColor, @mOpButtonBackgroundColor);

    &:hover {
        .setButtonColor(@mOpButtonHoverColor, @mOpButtonHoverBackgroundColor);
    }
    &:active {
        .buttonActive;
        .setButtonColor(@mOpButtonActiveColor, @mOpButtonActiveBackgroundColor);
    }
}

.buttonActive {
    box-shadow: none;
}

.setButtonColor(@color: #000000, @backgroundColor: #ffffff) {
    color: @color;
    background-color: @backgroundColor
}


.borderRadius (@topLeft: 0, @topRight: 0, @bottomRight: 0, @bottomLeft: 0) {
    -webkit-border-top-left-radius: @topLeft;
    -webkit-border-top-right-radius: @topRight;
    -webkit-border-bottom-right-radius: @bottomRight;
    -webkit-border-bottom-left-radius: @bottomLeft;
    -moz-border-radius-topleft: @topLeft;
    -moz-border-raiuds-topright: @topRight;
    -moz-border-radius-bottomright: @bottomRight;
    -moz-border-radius-bottomleft: @bottomLeft;
    border-radius: @arguments;
}

.borderRadiusAll (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.boxShadow (@x: 1px, @y: 1px, @blur: 1px, @color: #000) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}
